In [157]:
from xgboost import XGBClassifier
# read data
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
data = load_iris()
X_train, X_test, y_train, y_test = train_test_split(data['data'], data['target'], test_size=.2)
# create model instance
bst = XGBClassifier(n_estimators=2, max_depth=2, learning_rate=1, objective='binary:logistic')
# fit model
bst.fit(X_train, y_train)
# make predictions
preds = bst.predict(X_test)

In [158]:
preds

array([1, 0, 2, 1, 0, 1, 1, 0, 2, 0, 2, 1, 1, 1, 1, 0, 0, 1, 0, 0, 2, 1,
       2, 0, 0, 1, 0, 1, 2, 2])

In [159]:
import pandas as pd
import numpy as np
import streamlit as st
from matplotlib import pyplot as plt # Matplotlib
import datetime
from datetime import datetime

# Package to implement ML Algorithms
import sklearn
from sklearn.tree import DecisionTreeClassifier     # Decision Tree
from sklearn.ensemble import RandomForestClassifier # Random Forest

# Package for data partitioning
from sklearn.model_selection import train_test_split

# Package for generating confusion matrix
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay

# Package for generating classification report
from sklearn.metrics import classification_report

# Import packages to implement Stratified K-fold CV
from sklearn.model_selection import KFold # For creating folds

# Import Package to implement GridSearch CV
from sklearn.model_selection import GridSearchCV

# Importing package for Randomized Search CV
from sklearn.model_selection import RandomizedSearchCV

# Package to record time
import time

# Package for Data pretty printer
from pprint import pprint

# Module to save and load Python objects to and from files
import pickle 

# Ignore Deprecation Warnings
import warnings
warnings.filterwarnings('ignore')

# Display inline plots as vector-based (svg)
%config InlineBackend.figure_formats = ['svg']

%matplotlib inline

In [160]:
traffic = pd.read_csv("Traffic_Volume.csv")
traffic.head()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
0,NaN,288.28,0.0,0.0,40,Clouds,scattered clouds,2012-10-02 09:00:00,5545
1,NaN,289.36,0.0,0.0,75,Clouds,broken clouds,2012-10-02 10:00:00,4516
2,NaN,289.58,0.0,0.0,90,Clouds,overcast clouds,2012-10-02 11:00:00,4767
3,NaN,290.13,0.0,0.0,90,Clouds,overcast clouds,2012-10-02 12:00:00,5026
4,NaN,291.14,0.0,0.0,75,Clouds,broken clouds,2012-10-02 13:00:00,4918

In [161]:
traffic.info

<bound method DataFrame.info of       holiday    temp  rain_1h  snow_1h  clouds_all  weather_main  \
0         NaN  288.28      0.0      0.0          40        Clouds
1         NaN  289.36      0.0      0.0          75        Clouds
2         NaN  289.58      0.0      0.0          90        Clouds
3         NaN  290.13      0.0      0.0          90        Clouds
4         NaN  291.14      0.0      0.0          75        Clouds
...       ...     ...      ...      ...         ...           ...
48199     NaN  283.45      0.0      0.0          75        Clouds
48200     NaN  282.76      0.0      0.0          90        Clouds
48201     NaN  282.73      0.0      0.0          90  Thunderstorm
48202     NaN  282.09      0.0      0.0          90        Clouds
48203     NaN  282.12      0.0      0.0          90        Clouds

          weather_description            date_time  traffic_volume
0            scattered clouds  2012-10-02 09:00:00            5545
1               broken clouds  2012-10-02 10:00:00            4516
2             overcast clouds  2012-10-02 11:00:00            4767
3             overcast clouds  2012-10-02 12:00:00            5026
4               broken clouds  2012-10-02 13:00:00            4918
...                       ...                  ...             ...
48199           broken clouds  2018-09-30 19:00:00            3543
48200         overcast clouds  2018-09-30 20:00:00            2781
48201  proximity thunderstorm  2018-09-30 21:00:00            2159
48202         overcast clouds  2018-09-30 22:00:00            1450
48203         overcast clouds  2018-09-30 23:00:00             954

[48204 rows x 9 columns]>

In [162]:
traffic.drop(columns=["weather_description"], inplace=True)
traffic.head()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,date_time,traffic_volume
0,NaN,288.28,0.0,0.0,40,Clouds,2012-10-02 09:00:00,5545
1,NaN,289.36,0.0,0.0,75,Clouds,2012-10-02 10:00:00,4516
2,NaN,289.58,0.0,0.0,90,Clouds,2012-10-02 11:00:00,4767
3,NaN,290.13,0.0,0.0,90,Clouds,2012-10-02 12:00:00,5026
4,NaN,291.14,0.0,0.0,75,Clouds,2012-10-02 13:00:00,4918

In [163]:
traffic["date_time"]

0        2012-10-02 09:00:00
1        2012-10-02 10:00:00
2        2012-10-02 11:00:00
3        2012-10-02 12:00:00
4        2012-10-02 13:00:00
                ...
48199    2018-09-30 19:00:00
48200    2018-09-30 20:00:00
48201    2018-09-30 21:00:00
48202    2018-09-30 22:00:00
48203    2018-09-30 23:00:00
Name: date_time, Length: 48204, dtype: object

In [164]:
traffic["date_time"] = pd.to_datetime(traffic["date_time"])

In [165]:
traffic[("date_time")]

0       2012-10-02 09:00:00
1       2012-10-02 10:00:00
2       2012-10-02 11:00:00
3       2012-10-02 12:00:00
4       2012-10-02 13:00:00
                ...
48199   2018-09-30 19:00:00
48200   2018-09-30 20:00:00
48201   2018-09-30 21:00:00
48202   2018-09-30 22:00:00
48203   2018-09-30 23:00:00
Name: date_time, Length: 48204, dtype: datetime64[ns]

In [166]:
traffic["month"] = traffic["date_time"].dt.month
traffic["month"]

0        10
1        10
2        10
3        10
4        10
         ..
48199     9
48200     9
48201     9
48202     9
48203     9
Name: month, Length: 48204, dtype: int32

In [167]:
traffic["day"] = traffic["date_time"].dt.dayofweek
traffic["day"]

0        1
1        1
2        1
3        1
4        1
        ..
48199    6
48200    6
48201    6
48202    6
48203    6
Name: day, Length: 48204, dtype: int32

In [168]:
traffic["day"] = traffic["day"].astype(str)

In [169]:
weekday_map = {"0" : "Monday",
   "1" : "Tuesday",
    "2" : "Wednesday",
    "3" : "Thursday",
    "4" : "Friday",
    "5" : "Saturday",
    "6" : "Sunday"
}

In [170]:
weekdays = traffic["day"].map(weekday_map)
traffic["day"] = weekdays
traffic["day"]

0        Tuesday
1        Tuesday
2        Tuesday
3        Tuesday
4        Tuesday
          ...
48199     Sunday
48200     Sunday
48201     Sunday
48202     Sunday
48203     Sunday
Name: day, Length: 48204, dtype: object

In [171]:
traffic["hour"] = traffic["date_time"].dt.hour
traffic["hour"]

0         9
1        10
2        11
3        12
4        13
         ..
48199    19
48200    20
48201    21
48202    22
48203    23
Name: hour, Length: 48204, dtype: int32

In [172]:
traffic.drop(columns=["date_time"], inplace=True)

In [173]:
traffic["holiday"].replace(np.nan, "None", inplace=True)
traffic["holiday"] = traffic["holiday"].astype(str)
traffic["holiday"].value_counts(normalize=True)

holiday
None                         0.998735
Labor Day                    0.000145
Thanksgiving Day             0.000124
Christmas Day                0.000124
New Years Day                0.000124
Martin Luther King Jr Day    0.000124
Columbus Day                 0.000104
Veterans Day                 0.000104
Washingtons Birthday         0.000104
Memorial Day                 0.000104
Independence Day             0.000104
State Fair                   0.000104
Name: proportion, dtype: float64

In [179]:
month_map = {1 : "January",
             2 : "February",
             3 : "March",
             4 : "April",
             5 : "May",
             6 : "June",
             7 : "July",
             8 : "August",
             9 : "September",
             10 : "October",
             11 : "November",
             12 : "December"}

In [180]:
traffic["month"] = traffic["month"].map(month_map)
traffic["month"]

0          October
1          October
2          October
3          October
4          October
           ...
48199    September
48200    September
48201    September
48202    September
48203    September
Name: month, Length: 48204, dtype: object

In [182]:
traffic.to_csv('traffic_clean.csv', index=False)